body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 40%;
  background-color: #000000fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 38px;
  box-sizing: border-box;
}

.logo-title {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-title .logo {
  height: 55px;
  margin-right: 10px;
  background: none;
}

.logo-title .title {
  font-size: 34px;
  font-weight: 600;
  color: #ffffff;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.login-form h1 {
  font-size: 34px;
  font-weight: 555;
  margin-top: 0px;
  margin-bottom: 0%;
  color: #ffffff;
}

.login-form p {
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 25px;
  color: #6c6c6c;
}
.signup-link {
  text-decoration: underline; /* Underline the text */
  color: grey; /* Default color */
  transition: color 0.1s ease; /* Smooth transition for color change */
}

.signup-link:hover {
  color: white; /* Change to white on hover */
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #858585;
}

.input-group input {
  width: 100%;
  height: 23px;
  padding: 16px 14px;
  border: 1px solid #000000;
  outline: none;
  border-radius: 15px;
  background-color: #131313;
  color: #fff;
  font-size: 15px;
}

.input-group input::placeholder {
  color: #6c6c6c;
}

.password-wrapper {
  position: relative;
}

#toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;

  color: #878484;
}

#toggle-password {
  background: url("your-icon-path.png") no-repeat center;
  background-size: contain;
  width: 5px;
  height: 0px;
  border: none;
  outline: none;
}

.forgot-password {
  text-align: right;
  margin-bottom: 30px;
}

.forgot-password a {
  color: #6c6c6c;
  text-decoration: underline;
}

button {
  width: 107%;
  height: 46px;
  padding: 12px;
  background-color: #b4e551;
  border: none;
  border-radius: 25px;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  padding: 12px;
  color: #b4e551;
  text-align: center;
  text-decoration: none;
}

button:hover {
}

.sign-in {
  font-size: 16px;
  text-decoration: underline;
  color: #bbb;
  cursor: pointer;
}

.sign-in:hover {
  color: #fff;
}

.right-section {
  width: 60%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section img {
  max-width: 100%;
  height: auto;
}

.error {
  background-color: transparent;
  color: #bbb;
  width: 90%;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
}
.error-message {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.index {
  padding: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-section {
    display: none;
  }

  .left-section {
    width: 100%;
  }
  .index-body {
    padding: 0.5rem;
  }
}
